body {
    background-color: #f0f0f0;
    font-family: Arial;
    text-align: center;
}

.menu {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 30px;
    text-align: center;
}

.menu a {
    background-color: #4CAF50;
    color: white;
    padding: 4px 8px;
    text-decoration: none;
    margin-right: 10px;
}

.menu a:hover {
    background-color: #45a049;
}